target/
node_modules/
dist/
*.log
.DS_Store
# IntelliJ IDEA
.idea/*
!.idea/runConfigurations/
!.idea/vcs.xml
!.idea/modules.xml
!.idea/misc.xml
!.idea/encodings.xml
!.idea/subway-ticket-system.iml
*.iml
!kiosk/kiosk.iml
!mobile/mobile.iml
!backend/backend.iml

# VS Code
.vscode/

out/